body {
    font-family: Arial, sans-serif;
    background-color: #efeef1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #2abae6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #b94e1d;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    background-color: #154883;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #edf2f5;
}

a {
    color: #e7eaec;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
